<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamup"> <!-- Assure-toi que ce package correspond à ton projet -->

    <!-- Permission pour accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="teamup"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Intent filter pour gérer le callback OAuth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="teamup"
                android:host="oauth"
                android:path="/callback" />
            </intent-filter>

        </activity>
    </application>
</manifest>
